* {
    color: black;
}

.hidden {
    display: none;
}

#content {
    display: flex;
    flex-direction: row;
}

#filter_sidebar {
    flex: 1;
}

#course_list {
    flex: 3;
}

.collapsible_course {
    background-color: #777;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
}

.course_display {
    display: flex;
}

.course_display span {
    flex: 1;
    color: white;
    font-size: 15px;
}

.active_collapsible,
.collapsible_course:hover {
    background-color: #555;
}

.course_content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
