<!DOCTYPE html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id="content">
        <div id="filter_sidebar">
            <form action="{% url 'course_list:course_selection' %}" method="get">
                <div class="hidden_filters">
                    <input type="hidden" name="term" value={{term_filter}}>
                    {% for location in locations_filter %}
                    <input type="hidden" name="location" value={{location}}>
                    {% endfor %}
                    {% for level in levels_filter %}
                    <input type="hidden" name="level" value={{level}}>
                    {% endfor %}
                    <input type="submit" value="Filter">
                </div>
                <div id="active_filters">
                    <h5>
                        School
                    </h5>
                    <select id="school_filter" name="school">
                        {% for school in schools %}
                        <option value={{school.code}}>{{school.code}} {{school.title}}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
        <div id="course_list">
            {% for course in courses %}
            Title {{course.title}}; Code {{course.school.code}}:{{course.subject.code}}:{{course.code}}; Credits
            {{course.credits}};
            Core {{course.core}}; Level {{course.level}}
            <ul>
                {% for section in course.section_set.all %}
                <li>
                    Section {{section.number}}; Index {{section.index}}; Status {{section.open_status}}; Instructor
                    {{section.instructor}}; Exam {{section.exam_code_text}}
                    <br>Subtitle {{section.subtitle}}
                    <br>Notes {{section.notes}}
                    <br>Restrictions {{section.restrictions}}
                    <br>Comments {{section.comments.all}}
                    <br> Cross Listed {{section.cross_listed}}
                    <ul>
                        {% for section_class in section.sectionclass_set.all %}
                        <li>
                            Campus Num {{section_class.campus_num}}; Day {{section_class.day}}; Start Time
                            {{section_class.start_time}}; End Time {{section_class.end_time}}; Campus
                            {{section_class.campus_title}}; Building {{section_class.building}}; Room
                            {{section_class.room}}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
</body>