<!DOCTYPE html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id="content">
        <div id="filter_sidebar">
            <form action="{% url 'course_list:course_selection' %}" method="get">
                <input type="submit" value="Filter">
                <div class="hidden">
                    {{student_form.as_p}}
                </div>
                <div id="course_filter">
                    {{course_form.as_p}}
                </div>
                <div id="specific_filter">
                    <p>Section Status</p>
                    <input type="checkbox" id="section_open" name="open_status" value="True" checked
                        onclick="filter_sections()">
                    <label for="section_open">Open</label><br>
                    <input type="checkbox" id="section_closed" name="open_status" value="False" checked
                        onclick="filter_sections()">
                    <label for="section_closed">Closed</label><br>
                </div>
            </form>
        </div>
        <div id="course_list">
            {% for course in courses %}
            <button type="button" class="collapsible_course">
                Title {{course.title}}; Code {{course.school.code}}:{{course.subject.code}}:{{course.code}}; Credits
                {{course.credits}};
                {% for core in course.cores.all %}
                Core {{core.description}};
                {% endfor %}
                Level {{course.level}}
            </button>
            <div class="section_list">
                <ul>
                    {% for section in course.section_set.all %}
                    <div class="section_information" data-open_status={{section.open_status}}>
                        <li>
                            Section {{section.number}}; Index {{section.index}}; Status {{section.open_status}};
                            Instructor
                            {{section.instructor}}; Exam {{section.exam_code_text}}
                            <br>Subtitle {{section.subtitle}}
                            <br>Notes {{section.notes}}
                            <br>Restrictions {{section.restrictions}}
                            <br>Comments {{section.comments.all}}
                            <br> Cross Listed {{section.cross_listed}}
                            <ul>
                                {% for section_class in section.sectionclass_set.all %}
                                <li>
                                    Campus Num {{section_class.campus_num}}; Day {{section_class.day}}; Start Time
                                    {{section_class.start_time}}; End Time {{section_class.end_time}}; Campus
                                    {{section_class.campus_title}}; Building {{section_class.building}}; Room
                                    {{section_class.room}}
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </div>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static 'course_list/collapsible_course.js' %}"></script>
    <script src="{% static 'course_list/filter_sections.js' %}"></script>
</body>