<!DOCTYPE html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div id="tab_list">
        <div id="tab-course_selection" class="tab_link">Select Courses</div>
        <div id="tab-section_selection" class="tab_link">Select Sections</div>
    </div>
    <div id="content">
        <div id="course_selection" class="tab_content active_content">
            <div class="filter_sidebar">
                <div id="test_display_courses">test display courses</div>
                <form id="course_search_form">
                    {{ course_search_form.as_p }}
                </form>
                <button class="remove_course">Remove courses</button>
                <div id="selected_courses">
                    {% for course in request.session.selected_courses %}
                        <div>
                            <span>{{ course.school.code }}:{{ course.subject.code }}:{{ course.code }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="course_list">
                <!-- COURSE INFORMATION TEMPLATE -->
            </div>
        </div>
        <div id="section_selection" class="tab_content">
            <div class="filter_sidebar">
                <form id="section_filters">
                </form>
            </div>
            <div id="section_list">
                <!-- COURSE INFORMATION TEMPLATE -->
            </div>
        </div>
    </div>

    <template id="template_course_information">
        <div class="course_information">
            <div class="course_display collapsible">
                <button class="select_course">+</button>
                <span class="course_code"></span>
                <span class="course_title"></span>
                <span class="course_credits"></span>
            </div>
            <div class="course_content">
                <div class="cores_list"></div>

                <table class="section_list">
                    <tr>
                        <th>Sec</th>
                        <th>Status</th>
                        <th>Index</th>
                        <th>Meeting Times/Locations</th>
                        <th>Exam Code</th>
                        <th>Instructor</th>
                    </tr>
                    <!-- SECTION INFORMATION TEMPLATE -->
                </table>
            </div>
        </div>
    </template>

    <template id="template_section_information">
        <tr class="section_information">
            <td class="section_number"></td>
            <td class="section_open_status"></td>
            <td class="section_index"></td>
            <td>
                <table class="section_class_list">
                    <!-- SECTION CLASS INFORMATION TEMPLATE -->
                </table>
            </td>
            <td class="section_exam_code"></td>
            <td class="section_instructor"></td>
        </tr>
    </template>

    <template id="template_section_class_information">
        <tr class="section_class_information"
            data-campus="{{ section_class.campus_title }}">
            <td class="section_class_day">{{ section_class.day }}</td>
            <td class="section_class_times">{{ section_class.start_time }}-{{ section_class.end_time }}</td>
            <td class="section_class_location">{{ section_class.building }}-{{ section_class.room }}</td>
            <td class="section_class_campus_title">{{ section_class.campus_title }}</td>
        </tr>
    </template>

    <script src="{% static 'course_list/cookies.js' %}"></script>
    <script src="{% static 'course_list/course_selection.js' %}"></script>
    <script src="{% static 'course_list/collapsible.js' %}"></script>
    <script src="{% static 'course_list/tablist.js' %}"></script>
    <script src="{% static 'course_list/section_selection.js' %}"></script>
</body>
