* {
    color: black;
}

.hidden {
    display: none;
}

.tab_content:not(.active_content) {
    display: none !important;
}

#course_selection {
    display: flex;
    flex-direction: row;
}

#course_selection .filter_sidebar {
    flex: 1;
}

#course_selection #course_list {
    flex: 3;
}

#section_selection {
    display: flex;
    flex-direction: row;
}

#section_selection .filter_sidebar {
    flex: 1;
}

#section_selection #section_list {
    flex: 3;
}

.collapsible {
    background-color: #777;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
}

.course_display {
    display: flex;
}

.course_display span {
    flex: 1;
    color: white;
    font-size: 15px;
}

.active_collapsible,
.collapsible:hover {
    background-color: #555;
}

.course_content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

#schedule_builder {
    display: flex;
}

#schedule_sidebar {
    flex: 1;
    display: flex;
}

#course_selected_list_wrapper {
    flex: 1;
}

#section_selected_list {
    flex: 1;
}

#schedule_builder .schedule_view {
    flex: 4;
}